@import url(bootstrap.css);
body{
	font-family: helvetica;
	background-color: #eee !important;
}

#main-container{
	background-color: #fff;
	width: 90%; 
	margin: 50px auto;
	border-radius: 10px;
	-moz-box-shadow: #999 0 1px 5px;
	-webkit-box-shadow: #999 0 1px 5px;
	box-shadow: #999 0 1px 5px;
	padding: 10px;
	min-width: 1035px;
}